body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #66bfbf;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #eaf6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #11cdd4;
}

.Projects hr {
  border: dotted #66bfbf 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.page-container {
  position: relative;
  padding-top: 100px;
  margin: 100px 0;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.profile {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  /* right: 300px; */
  right: 0px;
  top: 40px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run_top_cloud;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes run_top_cloud {
  0% {
    right: 0;
  }

  48% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    right: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }

  98% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    right: 0;
    -webkit-transform: rotateY(0deg);
  }
}

.bottom-cloud {
  position: absolute;
  /* left: 25px; */
  /* left: 300px; */
  bottom: 300px;
  left: 0px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run_bottom_cloud;
  -webkit-animation-duration: 5s;
  /* transition: 0.5s; */
  /* animation: cowmove 5s linear infinite;     */
  /* animation: run_bottom_cloud 5s linear infinite; */
  /* animation-direction: alternate-reverse; */
}

@-webkit-keyframes run_bottom_cloud {
  0% {
    left: 0;
  }

  48% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    left: calc(100% - 150px);
    -webkit-transform: rotateY(180deg);
  }

  98% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}
/* 
@keyframes cowmove {
  0% {
    transform: translateX(100px) rotate(0);
  }
  30% {
    transform: translateX(400px) rotate(0);
  }
  50% {
    transform: translateX(400px) rotate(180deg);
  }
  80% {
    transform: translateX(100px) rotate(180deg);
  }
  100% {
    transform: translateX(100px) rotate(360deg);
  }
} */

.edit-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.laptop-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.social-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.customer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Adobe {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.Figma {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.Procreate {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.GitHub {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.catfish-proj {
  width: 100%;
  border: 5px solid #66bfbf;
}

.collage-proj {
  width: 50%;
  border: 5px solid #66bfbf;
}

.type-design {
  width: 50%;
  border: 5px solid #66bfbf;
}

.teapot {
  width: 50%;
  border: 5px solid #66bfbf;
}

.rihanna {
  width: 50%;
  border: 5px solid #66bfbf;
}

.food {
  width: 50%;
  border: 5px solid #66bfbf;
}

.Build-Bridges-Burn {
  width: 50%;
  border: 5px solid #66bfbf;
}

.study-app {
  width: 20%;
  border: 5px solid #66bfbf;
}

.procreate-drawings {
  width: 30%;
  border: 5px solid #66bfbf;
}

.pushdown {
  width: 70%;
  border: 5px solid #66bfbf;
}

.my-resume {
  width: 100%;
  border: 5px solid;
}

.BUTTON_YGG {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.BUTTON_YGG:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.laguages-row {
  display: table;
  width: 100%;
  text-align: center;
  margin: 0;
  border-spacing: 2%;
}
.languages-column {
  display: table-cell;
}

.laguages-row-2 {
  display: table;
  width: 100%;
  text-align: center;
  /* margin-right: 20px !important; */
  margin: 0;
  /* border-spacing: -4%; */
}
.languages-column-2 {
  display: table-cell;
  width: 20%;
}

.laguages-row-3 {
  display: table;
  width: 100%;
  text-align: center;
  /* margin-right: 20px !important; */
  margin: 0;
  /* border-spacing: -4%; */
}
.languages-column-3 {
  display: table-cell;
  width: 20%;
}

.laguages-row-4 {
  display: flex;
}
.languages-column-4 {
  flex: 1;
}

.languages-column-4:first-child {
  margin-right: -50%;
}

.languages-column-5 {
  display: table-cell;
  width: 20%;
}

#welcome {
  margin-top: 2% !important;
}

button {
  border: none;
}
